<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Za wash Registry</title>
    <link rel="stylesheet" href="D:\Projects\zawash-final\public\style.css" type="text/css">
</head>

<body>
    <div class="reg">
        <h1>Car Wash Registry</h1>
    </div>
    <div class="main">
        <form action="" class="form">
            <div id="top">
                <h1>Washers Name</h1>
                <input type="text" name="firstname" class="first-name" placeholder="First Name">
                <label for="" class="first-label"></label>
                <input type="text" name="lastname" class="last-name" placeholder="Last Name">
                <label for="" class="last-label"></label>
                    <h2>Customers Phone Number</h2>
                    <input type="text" class="phone" name="pname" placeholder="+256">
                    <form method="post" action="">
                        <legend>Choose your gender:</legend>
                        <label for="male">Male</label>
                        <input type="radio" name="gender" id="male" value="male">
                        <label for="female">Female</label>
                        <input type="radio" name="gender" id="female" value="female">
                        </fieldset>
                </div>
                <h2 class="numberplate">Car Regestration</h2>
                <input type="text" class="car-reg" name="reg1" placeholder="Number Plate">
                <h2 class="package">Package Selected</h2>
                <form action="">
                    <label for="cars">Customer Selected</label>
                    <select id="choices" name="options">
                        <option value="small">Small Cars</option>
                        <option value="medium">Medium Cars</option>
                        <option value="full-body">Full Body </option>
                        <option value="boda">Boda boda</option>
                    </select>
                    <div class="submit">
                        <input type="submit">
                    </div>
                </form>

        </form>
    </div>
</body>

</html>